.uldetails{
list-style-type:   square;
}
.borders{
    border: 1px solid gray;
    box-shadow: 0px 0px 10px 1px rgb(74, 69, 69);
    
}
 
.input-field { 
    display: inline-flex;
    width: 100%;
    height: 80px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    border: 3px solid rgb(225, 207, 11);
    background-color: white;
}
.input-field2 {
    width: 100%; 
    height: 70px;
    text-align: center; 
    border: 0px;
    color: white;
}
  
 .text1{
    margin-top: 50px;
    padding: 0;
    align-content: center;
    align-items: center;
 }
 
 nav button:focus{
    border: 2px solid rgb(23, 62, 233); 
 }
.colorbg{
    display: flex;
    padding-top: 10px;
    height: 100%;
    align-content: center;
    background-color: rgb(217, 213, 215);
    font-size: 1vw;
    margin-top: 50px;
}
.btnn1{   
    border: 0px;
    border-radius: 10px; 
    color: white;
    background-color: none;
}

.btnn1 i{
    border: 0px;
}
 
.btnn{  
    height: 50px;
    border: 0px;
    border-radius: 10px;
    color: black;
}
.btnn:hover{ 
    border: 2px solid blue;
    color: blue;
}
.btnn i{
    border: 0px;
}
.img1{
    width: 100px;
}
 
.col-md-1{
    margin: 5px;
    padding: 5px;
}
 .texts{
    font-size: 1vw;
 }
 .center1{
    padding-top: 100px;
    text-align: center;
    align-content: center;
 }
 .edit{
    color: black;
    text-decoration-line: none;

 }
 .edit1{
    padding-left: 60px; 
    margin: 10px;
 }
 a:hover{
    color: black;
 }
 .img4{
    width: 100px;
    height: 100px;
 } 
 a{
    text-decoration-line: none;
 }
 .btnn3{
    border: 2px solid black;
    background-color: none;
}

.input-field3 {  
    
    width: 100%;
    height: 70px;
    padding: 0px;
    margin: 0px;
    text-align: center; 
    border: 0px;
}



input.nosubmit { 
    display: block; 
    padding: 0;
    margin: 0;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }

  
